body {
  margin: 0px;
  font-family: arial;
}

.App {
  display: grid;
  grid-template: 70px 1fr / 250px 1fr;
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas:
    'header header'
    'left content '
    'footer footer ';
}
