.side {
  grid-area: left;
  /* outline: 2px solid black; */
  /* margin-left: 20px; */
  grid-template: 1fr / 1fr;
  /* color: #ffac41; */
  /* text-align: center; */
}
/* .side__box {
  border-radius: 10px;
  border: 1px solid blue;
  margin: 20px;
  display: grid;
  font-size: 0.6rem;
  font-weight: bold;
} */
